.sectionOne {
  .assetBox {
    height: 140px;
    background: lightgrey;
  }

  .dimensionsDiv {
    display: flex;
    align-items: center;

    input {
      width: 15px;
      height: 13px;
      padding: 5px;
      font-size: 11px;
    }
  }
}
