.createBanner {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #3A0315 -7.74%, #A00434 85.16%, #571127 120.25%);
  height: 65px;
  align-items: center;
  padding: 0 25px;

  p {
    color: #ffffff;
    font-size: 24px;
  }

  button {
    width: 111px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #E70A4E;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #E70A4E;
  }
}
