.bannerDiv {
  background: #000000;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  height: 50px;

  img {
    width: 350px;
  }
}

.editorEngine {
  display: flex;
  flex-direction: column;

  .editorSection {
    display: flex;
  }
}
