.App {
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

/* a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

/* img {
  max-width: 100%;
  height: auto;
  /*margin-bottom: 10px;*/
/* }

img {
  width: 400px;
} */ 

p {
  max-width: 400px;
  font-size: 12px;
}

/* Start login page */

.logo {
  position: relative;
  max-width: 100%;
  height: auto;
}

.auth-container {
  position: relative;
  bottom: 50px;
}
.auth {
  display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 100vh;
    width: 98vw;
    align-items: center;
    justify-content: center;

}
.logo-container {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.login-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 40px;
}

.image-container {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin-left: 320px;
  height: 400px;
  width: 600px;
  bottom: 150px;
}
.image-container .main-image {
  width: 700px;
  height: 700px;
}
/* Start login page form */
.form {
  height: 450px;
  width: 350px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 150px;

}

.title {
  text-align: center;
  font-size: 2rem;
  color: #000000;
}
.title-text {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #1a202c;
}

.label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
  border: 1px solid rgb(205, 214, 205);
}

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit {
  background-color: #bb3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.forgot {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #1a202c;
  text-decoration: underline;
  font-weight: bold;
}
.account-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 15px;
}
.to-register {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ce3467;
  text-decoration: underline;
}
/* End login page form */
/* End login page */

/* Start signup page */
.sign {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  height: 140vh;
  width: 98vw;
  grid-column-gap: 0;
}

.signuplogo-container {
  grid-row: 1 / span 1;
}
.signuplogo-container .signup-logo {
  width: 75%;
  height: auto;
}

.register-container {
  position: relative;
  grid-row: 2 / span 1;
  margin-left: 40px;
}

.signupimage-cotainer {
  grid-row: 1 / span 2;
  height: 800px;
  width: 600px;
  margin-left: 250px;
}
.signupimage-cotainer img {
  height: 700px;
  width: 600px;
}

.signup {
  position: relative;
  height: 750px;
  width: 500px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.signup .title {
  margin-bottom: 10px;
}

.signup .grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns with equal width */
  grid-template-rows: 1fr; /* one row */
  gap: 1rem; /* add a gap between the columns */
}
.signup .name .firstname-container .input {
  width: 90%;
}
.name.grid .firstname-container,
.name.grid .lastname-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.signup .grid .firstname-container input,
.signup .grid .lastname-container input {
  width: 80%;
}
.signup .input {
  width: 90%;
}

/* End Signup page */

/* Style the dropdown */
.myDropdown {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  width: 95%;
  font-size: 1rem;
  color: #4a5568;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  padding: 10px;
}

.myDropdown:focus {
  outline: none;
}

.myDropdown option {
  background-color: #fff;
  color: #000;
}
.myDropdown option:hover {
  color: white;
}

.signup .grid .companyname-container .input {
  width: 80%;
  height: 25%;
}

/* Style the labels */
.label {
  font-weight: bold;
  margin-bottom: 8px; /* add more space below label */
  display: block; /* make label a block element to take up full width */
}

/* Style the inputs */
.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* Style the dropdown on hover */
#myDropdown:hover {
  background-color: transparent;
  border-color: #ccc;
}

.signup .signup-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* End sign up page */

/* Dashboard and Products page */
header {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 35px;
}

.mx-logo{
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bell-icon{
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: auto;
}

.dropdown-top {
  position: relative;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 16px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-top-content {
  display: none;
  background-color: #000000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
position: absolute;
width: 170px;
left: calc(50% - 250px/2);
border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-top-content a {
  color: #ffffff;
  width: 148px;
  height: 34px;
  font-weight: 400;
font-size: 14px;
line-height: 17px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-top-content img {
  margin-right: 7px;
  margin-bottom: -4px;
}
/* Change color of dropdown links on hover */
.dropdown-top-content a:hover {background-color: #ffffff; color: #E70A4E;}

/* Show the dropdown menu on hover */
.dropdown-top:hover .dropdown-top-content {display: block;}

.user-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px;
  gap: 14px;
}
.current-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px;
  gap: 10px;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.avatar {
  flex: none;
  order: 0;
  flex-grow: 0;
}
.user-details {
  flex: none;
  order: 1;
  flex-grow: 0;
}
.username {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.occupation {
  font-size: 14px;
  line-height: 17px;
  color: #9E9E9E;
}
.arrow {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.new-team {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  width: 209px;
  gap: 22px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.new-team:hover {
  background-color: #E70A4E;
  color: #ffffff;
  cursor: pointer;
}

.userblock:hover .new-team {
  display: flex;
}

.add-product {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 12px;
gap: 4px;
cursor: pointer;
margin-left: 10px;
width: 182px;
height: 45px;
border: none;
color: #ffffff;
font-weight: 700;
font-size: 18px;
line-height: 23px;
background: #E70A4E;
border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
} 
.sidenav {
  flex: none;
  order: 0;
  flex-grow: 0;
  display: inline-block;
  height: 100%;
   /* Full-height: remove this if you want "auto" height */
 /* Fixed Sidebar (stay in place on scroll) */
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background-color: #ffffff;
  position: relative;
width: 20%;
left: 0px;
}

.upper-menu {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
left: 17px;
top: 37px;

}
.item {
  border-radius: 8px;
  padding: 6px 8px 6px 16px;
  margin: 2px;
}

.item:hover {
  background-color: #E70A4E;
  color: #ffffff;
}
/* The navigation menu links */
.sidenav a {
  color: #000000;
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.sidenav a:hover {
  color: #ffffff;
}
/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  display: flex;
flex-direction: row;
align-items: flex-start;
font-size: 16px;
line-height: 20px;

padding: 11px 15px;
gap: 10px;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E70A4E; color: #ffffff}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.resources {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 15px;
  gap: 13px;
  padding-left: 25px;
}

.resource-menu {
  position: absolute;
  left: 28px;
  bottom: 0px;
}
.main {
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #E70A4E;
  color: #ffffff;
  width: 80%;
  height: 194px;
  display: inline-block;
}

.welcome {
  margin: 25px;
font-weight: 500;
font-size: 20px;
line-height: 25px;
}

.dashboard {
margin: 25px;
font-weight: 700;
font-size: 24px;
line-height: 30px;
}

.insights {
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
gap: 20px;
}

.info {
  flex: none;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  color: #000000;
  order: 0;
  flex-grow: 0;
  border-radius: 29px;
  width: 230px;
  height: 130px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(111.4deg, rgba(255, 255, 255, 0.91) 7.98%, rgba(255, 255, 255, 0.7553) 88.12%);
}

.info-value {
  color: #E70A4E;
  font-weight: 700;
font-size: 30px;
line-height: 136.3%;
}

.recent-products {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 25px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.search {
  padding: 0px 0px 0px 20px;
gap: 33px;
display: inline-block;
width: 733px;
height: 45px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
flex: none;
order: 0;
flex-grow: 0;
}

.filter{
  background: #FFFFFF;
border-radius: 10px;
color: #E70A4E;
font-size: 16px;
line-height: 20px;
padding: 7px 18px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.filter-text {
  margin-left: 5px;
  margin-right: 8px;
}
.input-button {
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* For subscription page */
.subscription {
  background-color: #000000;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.choose-plan {
font-weight: 400;
font-size: 24px;
line-height: 29px;
flex: none;
order: 0;
flex-grow: 0;
margin-top: 15px;
margin-left: 25px;
margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  margin-right: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #E70A4E;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

.slider:after{
  background-color: #ffffff;
 } 

input:focus + .slider {
  box-shadow: 0 0 1px #E70A4E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.monthly-billing {
  font-weight: 400;
font-size: 16px;
line-height: 20px;
flex: none;
order: 1;
flex-grow: 0;
margin-bottom: 10px;
margin-left: 25px;
}
.plans {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  justify-content: center;
  flex: none;
order: 2;
flex-grow: 0;
}

.basic {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.premium {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.standard {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 31px;
  gap: 70px;

  width: 346px;
  height: 631px;

  background: #FFFFFF;
  border-radius: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 277px;
  height: 426px;


/* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;  
}

.plan-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #E70A4E;


/* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.plan-cost {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;

  color: #E70A4E;

  opacity: 0.99;

/* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.plan-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 159.3%;
/* or 24px */

  text-align: center;

  color: #000000;

  opacity: 0.99;

/* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.line {
  width: 264.5px;
  height: 0px;

  border: 1px solid #000000;

/* Inside auto layout */
  
  flex: none;
  order: 3;
  flex-grow: 0;
}

.plan-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  color: #000000;
/* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}
.box{
  display: inline-block;
  box-sizing: border-box;

width: 16px;
height: 16px;

border: 1px solid #000000;
margin-right: 5px;
margin-bottom: -2px;
}

.buy-button {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 32px;
gap: 4px;

width: 137px;
height: 45px;

background: #E70A4E;
border: 1px solid #FFFFFF;
border-radius: 10px;
cursor: pointer;
}

/* Payments page */
.payment {
  display: flex;
flex-direction: row;
align-items: center;
margin: auto;
padding: 14px;
gap: 20px;
background: #FFFFFF;
border-radius: 25px;
color: #000000;
}

.payment-details {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 46px;
gap: 67px;
width: 469px;
height: 458px;
flex: none;
order: 0;
flex-grow: 0;
}

.payment-details-block {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 39px;
flex: none;
order: 0;
flex-grow: 0;
}

.payment-details-brief {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
flex: none;
order: 0;
flex-grow: 0;
}

.try-momentumx {
  font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #E70A4E;
}

.days-free {
  font-weight: 500;
font-size: 32px;
line-height: 40px;
color: #000000;
}

.per-month {
  font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.payment-details-again {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 89px;
flex: none;
order: 1;
flex-grow: 0;
}

.try-momentumx-again {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.days-months {
  display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;
flex: none;
order: 1;
flex-grow: 0;
}
.days-free-again {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.per-month-again {
  font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #E70A4E;
flex: none;
order: 1;
flex-grow: 0;
}

.payment-details-info {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 365px;
flex: none;
order: 2;
flex-grow: 0;
}

.payment-back-button {
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 15px;
gap: 10px;
background: #FFFFFF;
border: 1px solid #E70A4E;
color: #E70A4E;
border-radius: 10px;
flex: none;
order: 3;
flex-grow: 0;
}

.payment-info-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 365px;
}

.alignleft{
  text-align: left;
}

.alignright{
  text-align: right;
  position: absolute;
  right: 0;
}

.bold {
  font-weight: 500;
}
.payment-details-input {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 32px;
gap: 20px;
width: 508px;
height: 636px;
background: #FFFFFF;
box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.1);
border-radius: 20px;
flex: none;
order: 2;
flex-grow: 0;
}

.enter-details {
  font-weight: 500;
font-size: 20px;
line-height: 26px;
flex: none;
order: 0;
flex-grow: 0;
}

.payment-input-block {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
flex: none;
order: 2;
flex-grow: 0;
}

.payment-block-item {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;
width: 100%;
flex: none;
order: 0;
flex-grow: 0;
}

.payment-item-label {
font-size: 16px;
line-height: 26px;
flex: none;
order: 0;
flex-grow: 0;
}

.payment-input-item {
  padding: 9px 15px;
gap: 4px;
background: #FFFFFF;
border: 1px solid #D8D8D8;
border-radius: 5px;
flex: none;
width: 100%;
order: 1;
flex-grow: 0;
}

.payment-block-item-horizontal {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;
}

.save-details {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15px;
flex: none;
order: 3;
flex-grow: 0;
}

.start-trial-button {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
background: #E70A4E;
color: #ffffff;
border-radius: 10px;
width: 100%;
flex: none;
order: 4;
flex-grow: 0;
}