* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NHbold";
    src: local("NHbold"),
    url("./fonts/NHaasGrotesk/NHaasGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "NHmed";
    src: local("NHmed"),
    url("./fonts/NHaasGrotesk/NHaasGrotesk-Medium.ttf") format("truetype");
    font-weight: auto;
}

@font-face {
    font-family: "NHreg";
    src: local("NHreg"),
    url("./fonts/NHaasGrotesk/NHaasGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
